body {
  background-color: #fff0f5; /* Light pastel pink background */
}

.navbar {
  background-color: #F27BBD !important;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #fff0f5 !important;
}

.btn-primary {
  background-color: #874CCC;
  border-color: #874CCC;
}

.btn-primary:hover {
  background-color: #C65BCF;
  border-color: #C65BCF;
}

.card {
  border-radius: 1rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
